<section [className]="isExpand ? 'menu-lat_expand' : 'menu-lat'">
  <div class="head">
    <button (click)="changeExpand()"><fa-icon [icon]="bars"></fa-icon></button>
    @if(isExpand){
    <img src="assets/logo.png" class="img_logo" alt="logo" />
    }
  </div>

  <div>
    <div (click)="changeToggle(1)" style="display: flex; gap: 15px; align-items: center; justify-content: space-between; cursor: pointer;">
      <button><fa-icon [icon]="box"></fa-icon></button>
      @if(isExpand){
      <h1>Empresas</h1>
      }
      <button><fa-icon [icon]="chevron"></fa-icon></button>
    </div>

    @if(toggle == 1 && isExpand){
        <div class="opc" style="display: flex; gap: 15px; cursor: pointer;" (click)="redirectEmpresas()">
            <fa-icon [icon]="line" style="color: var(--whitemain);"></fa-icon>
            <p>Empresas</p>
        </div>    
    }
    
  </div>

  <div>
    <div (click)="changeToggle(2)" style="display: flex; gap: 15px; align-items: center; justify-content: space-between; cursor: pointer;">
      <button><fa-icon [icon]="file"></fa-icon></button>
      @if(isExpand){
      <h1>Articulos</h1>
      }
      <button><fa-icon [icon]="chevron"></fa-icon></button>
    </div>

    @if(toggle == 2 && isExpand){
        <div class="opc" style="display: flex; gap: 15px; cursor: pointer;" (click)="redirectArticulos()">
            <fa-icon [icon]="line" style="color: var(--whitemain);"></fa-icon>
            <p>Articulos</p>
        </div>
    }
  </div>

  @if(isExpand){
  <div style="display: flex; gap: 15px; align-items: center; justify-content: space-between; cursor: pointer;">
    <button><fa-icon [icon]="user"></fa-icon></button>
    <h1>Colaboradores</h1>
    <button><fa-icon [icon]="chevron"></fa-icon></button>
  </div>
  }
</section>
