.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--whitemain);
    height: 100px;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    color: #777;
}

.nav-2{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

h1{
    font-size: 20px;
}

#icon-user{
    color: var(--gris1);
    font-size: 25px;
}

.nav-2 > h1{
    font-size: var(--text_16);
}