<div class="home-view">
  <section class="targets target1">
    <div class="title">
      <h1 style="font-size: var(--title)">Informacón de la empresa</h1>
    </div>
    <div class="body col">
      <div class="text-center">
        <h2>Nombre</h2>
        <p>Quipux S.A.S</p>
      </div>
      <div class="text-center">
        <h2>Fecha de creación</h2>
        <p>1995/05/06</p>
      </div>
      <div class="text-center">
        <h2>Dirección</h2>
        <p>Carrera 43A No. 3 Sur-130</p>
        <p>Ed. Milla de Oro</p>
        <p>Distrito de negocios Torre 1</p>
        <p>Piso 12</p>
        <p>Medellín - Colombia</p>
      </div>
      <div class="text-center">
        <h2>Número de teléfonos</h2>
        <p>Fijo</p>
        <p>+57 (4) 313-70-00</p>
        <p>Fax</p>
        <p>+57 (4) 313-44-77</p>
      </div>
      <div class="text-center">
        <h2>Sitio Web</h2>
        <a>www.quipux.com/site</a>
      </div>
    </div>
  </section>

  <section class="targets target2">
    <div class="title">
      <h1 style="font-size: var(--title)">INFORMACIÓN DEL CONTACTO</h1>
    </div>
    <div class="row body">
      <div class="col" style="border-right: 2px solid var(--gris1);">
        <div class="text-center">
          <h2>Dirección</h2>
          <p>Carrera 52 # 91-66</p>
          <p>Medellín Colombia</p>
        </div>
        <div class="text-center">
          <h2>Correo electrónico</h2>
          <a [href]="email" >{{email}}</a>
        </div>
        <div class="text-center">
          <h2>Sitio Web</h2>
          <a>www.usuarioapellido.com </a>
        </div>
        <div class="text-center">
          <h2>Red social</h2>
          <p>www.instagram.com/usuarioapellido</p>
          <p>www.linkeind.comm/usuarioapellido</p>
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <h2>Dirección de correspondencia de correo</h2>
          <p>Carrera 52 # 91-66</p>
          <p>Envigado Colombia</p>
        </div>
        <div class="text-center">
            <h2>Número de teléfonos</h2>
            <p>Fijo</p>
            <p>+57 (4) 313-70-00</p>
            <p>Celular</p>
            <p>(312) 313-44-77</p>
          </div>
      </div>
    </div>
  </section>
</div>
