<div class="mainhome">
  <div class="container">
    <section class="sect1">
      <h1>¿Qué quieres buscar?</h1>
      <p>Encuentra la información que desees consultar ...</p>

      <!-- Barra de búsqueda -->
      <div class="search-bar">
        <select>
          <option>Todos los servicios</option>
          <!-- Más opciones aquí -->
        </select>
        <input type="text" placeholder="Qué servicio quieres consultar" />
        <button><fa-icon [icon]="search"></fa-icon></button>
      </div>

      <!-- Tarjetas de servicios -->
      <div class="service-cards">
        <div class="card">
          <h3>Certificado</h3>
          <p>Conoce los beneficios que tenemos para ti al registrarte</p>
          <button>+ beneficios</button>
        </div>
        <div class="card">
          <h3>Crear cuenta</h3>
          <p>Conoce los beneficios que tenemos para ti al registrarte</p>
          <button>Ver todo</button>
        </div>
        <div class="card">
          <h3>Top trámites</h3>
          <p>Conoce los trámites más solicitados</p>
          <button>Ver todo</button>
        </div>
      </div>
    </section>
    <section class="sect2">
      <!-- Carrusel de información -->
      <div class="carousel">
        <img src="assets/resource-1.png" alt="Woman Image" />
        <h2 id="bar-qpx">Servicios Quipux</h2>
        <div class="carousel-info">
          <h3>Trámites en tu mano</h3>
          <p>
            Ahora podrás hacer todos tus trámites desde la comodidad de tu
            casa...
          </p>
          <!-- Indicador de progreso del carrusel -->
          <div class="carousel-progress">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
