.mainhome {
  background: #f9f8fa;
  padding-top: 50px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 20px !important;
  gap: 60px;
}

.sect1 {
  text-align: left !important;
  width: 60%;
}

.search-bar {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.search-bar select,
.search-bar input {
  padding: 10px;
  font-size: 16px;
}

.search-bar > select {
  background: #11a0e854;
  color: #119fe8;
  border: 2px solid #119fe8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar > input {
  border: 2px solid #c3d4e7;
}

.service-cards {
  display: flex;
  margin: 100px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 30%;
  border: 0 !important;
}

.card h3 {
  color: #007bff;
}

.card button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carousel {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel img {
  height: 200px;
  margin-right: 20px;
}

.carousel-info {
  text-align: left;
}

.carousel-info h2 {
  color: #007bff;
}

.carousel-progress {
  margin-top: 10px;
}

.carousel-progress span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: lightgray;
  margin: 0 3px;
  border-radius: 50%;
}

.carousel-progress .active {
  background-color: #007bff;
}

#bar-qpx {
  transform: translateY(-60px);
  background: #ffffff69;
  color: #2c6ba6;
}

/* Estilos responsivos para pantallas móviles */
@media (max-width: 768px) {
  /* Ajuste para la barra de búsqueda */
  .search-bar {
    flex-direction: column;
  }

  .search-bar select,
  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-bar button {
    width: 100%;
  }

  /* Cambios en la disposición de las tarjetas de servicios */
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  /* Ajustes en el carrusel */
  .carousel {
    flex-direction: column;
  }

  .carousel img {
    margin: 0 auto 20px;
  }

  .carousel-info {
    text-align: center;
  }
}

@media (max-width: 480px) {
  /* Ajustes adicionales para pantallas aún más pequeñas */
  h1 {
    font-size: 24px;
  }

  .search-bar input,
  .search-bar select {
    font-size: 14px;
  }

  .card h3 {
    font-size: 18px;
  }

  .carousel img {
    height: 150px;
  }

  .carousel-info h2 {
    font-size: 20px;
  }

  .carousel-info h3 {
    font-size: 16px;
  }
}
